.bar {
    width: 5vh;
    height: 80vh;
    background-color: #FBD6D2;
}

.cover-fullscreen {
    width: 100%;
    height: 100vh;
}

.opacity-80 {
    opacity: 0.8;
}

.opacity-60 {
    opacity: 0.6;
}

.background-black {
    background-color: black;
}

.middle {
    width: 100%;
    padding: 5% 3%;
    text-align: center;
    flex-direction: column;
    justify-content:start;
}

.left,
.right {
    padding: 0 1%;
}

.mid h1 {
    font-size: 8rem;
    color: #FBD6D2;
}

.top, .bottom {
    color: white;
}

.bottom {
    padding-top: 5rem;
}